ul {
  list-style-type: none;
  text-align: left;
}
input {
  text-align: left;
}
form {
  display: flex;
  flex-direction: column;
}
#input_list {
  padding: 0;
}
input,
select,
li > p {
  margin: 20px 0px 0px 0px;
  width: 100%;
}
li > p {
  line-height: 1;
  border: 1px solid black;
}

button {
  display: block;
  margin: 40px auto;
}
