$white: #edeae5;
$dark-blue: #026670;
$light-blue: #9fedd7;
$sky-blue: #abc8ef;
$slate-grey: #646c7d;
$border-color: rgb(173, 173, 173);

body {
  background-color: $white;
  font-family: "IBM Plex Mono", monospace;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  height: 20px;
}

h1,
footer {
  text-align: center;
  color: $dark-blue;
}

h1 {
  font-size: 50px;
  font-family: "IBM Plex Mono", monospace;
}
button {
  margin: 80px 0 0 0;
  background-color: $dark-blue;
  display: inline-block;
  cursor: pointer;
  color: $light-blue;
  font-family: Arial;
  font-size: 14px;
  padding: 14px 24px;
  text-decoration: none;
  border-style: none;

  button:hover {
    background-color: #332b33;
  }
  button:active {
    position: relative;
    top: 1px;
  }
}
/* input */

ul {
  list-style-type: none;
  text-align: left;
}
input {
  text-align: left;
}
form {
  display: flex;
  flex-direction: column;
}
#input_list {
  padding: 0;
}
input,
select,
li > p {
  width: 90%;
  max-width: 1500px;
}
li > p {
  line-height: 1;
}

button {
  display: block;
  margin: 40px auto;
}

.line_list_item {
  margin: 20px 0 20px 0;
  border: 3px solid $dark-blue;
  padding: 5px;
}

/* landing */

.flex_container {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#example_img {
  flex: 1;
  text-align: center;
  margin: 0 20px;
  max-width: 300px;
}

#line_number,
#make_script_button {
  background-color: $slate-grey;
  border-color: $sky-blue;
  color: $sky-blue;
  text-align: center;
}

#line_number {
  max-width: 1500px;
  font-size: 20px;
  font-weight: bold;
}

#description_body {
  line-height: 2;
  font-size: 16px;
  flex: 2;
}
.break {
  flex-basis: 100%;
  height: 0;
}

picture {
  flex-grow: 1;
}

@media only screen and (min-width: 700px) {
  .flex_container {
    flex-direction: row;
  }
  // #description_body,
  // #example_box {
  //   margin: 0px auto 0px 60px;
  // }
  #start_button {
    margin-top: 200px;
  }

  h1 {
    font-size: 70px;
  }
}

@media only screen and (min-width: 1200px) {
  #instructions_box,
  .output_box,
  #os_select {
    width: 50% !important;
  }

  #os_select {
    display: block;
  }
}

#description_box > h4 {
  font-size: 24px;
}

.landing_text {
  text-align: center;
  margin: auto;
  font-size: 18px;
  flex: 2;
}

#title_input {
  margin: auto;
  padding: 10px;
  border: 5px solid $border-color;
}
/* output */

h3,
h4,
form {
  text-align: center;
}

.output_box {
  margin: auto;
  background-color: #c3bfbf;
  padding: 20px;
  text-align: left !important;
  background-color: black;
  color: rgba(0, 150, 0, 0.75);
}

.code_block {
  background-color: black;
  color: rgba(0, 150, 0, 0.75);
  margin-right: 40px;
  padding: 10px;
}

#instructions_box {
  margin: 25px auto 25px auto;
  line-height: 2;
  color: $slate-grey;
}

#output_text {
  text-align: left !important;
}

h3 {
  color: $dark-blue;
}

.new_line_button {
  margin: 25px auto 0 auto;
}

#make_script_button {
  margin: 80px auto 0 auto;
  display: block;
}

#output_text {
  text-align: left !important;
}

.new_line_button {
  margin: 25px auto 0 auto;
}

.script_type_select,
#os_select {
  margin: 0 auto;
  color: #edeae5;
  background: #026670;
  padding: 10px;
  text-align: center;
}

.line_list_item > * {
  height: auto;
  width: 100%;
  margin: 20px auto auto auto;
  display: block;
  padding: 5px;
  min-height: 45px;
}

.command_select {
  background-color: #026670;
  color: $light-blue;
  border: 1px solid #9fedd7;
}
.command_description {
  font-size: 13px;
}
.argument {
  background-color: #bdbebf;
  border: none;
}

::placeholder {
  color: rgb(44, 44, 44);
}

#make_script_button {
  margin: 80px auto 0 auto;
  display: block;
}

.Header__not-logged-in > *,
.Header__logged-in > * {
  margin: 10px auto;
  color: $dark-blue;
}

.Input {
  margin: 20px auto auto auto;
  display: block;
  padding: 5px;
  background-color: rgb(232, 240, 254);
  color: $slate-grey;
  border: 1px solid #9fdded;
  height: 35px;
}

.path_instructions {
  font-size: 18px;
  max-width: 400px;
  text-align: center;
  margin: 40px auto;
}
